.swiper-slide{
  height: auto;
  max-width: 100%;
}


.img-cover-l{
  display: block;
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: left center;
}

.img-cover-r{
  display: block;
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: right center;
}
