<footer class="l-footer pt-52px pb-60px">
  <div class="l-footer__container">
    <nav class="l-footer__nav mb-60px">

      <ul class="l-footer__nav-left">
        <li class="l-footer__logo "><img src="../assets/images/index/LOGO 1.svg" alt=""></li>
        <li class=""><a class="l-footer__link" href="#"><span class="--zh">甜點專區</span></a></li>
        <li><a class="l-footer__link" href="#"><span class="--zh">關於我們</span></a></li>
      </ul>

      <div class="l-footer__contact">
        <a class="l-footer__link d-inline-flex" href="#"><span class="--zh d-inline-block me-16px sm-me-0px">聯絡我們</span>
          <span class="l-footer__tel-icon"><img src="../assets/images/icons/contact.png" alt=""></span></a>
      </div>

    </nav>

    <p class="l-footer__notice mb-16px text-center">訂閱我們獲取最新甜點資訊！</p>

    <form class="email-subscribe rounded-pill d-flex mb-40px" action="#" method="post" aria-label="訂閱電子報">
      <label for="email" class="visually-hidden">Email</label>
      <input class="flex-fill rounded-pill" id="email" type="email" name="email" placeholder="輸入 E-mail" required aria-required="true" />
      <button class="l-footer__btn d-inline-block py-12px sm-py-4px px-40px sm-px-16px rounded-pill" type="submit">訂閱</button>
    </form>    

    <p class="l-footer__copyright text-center">2025© Sucré Memoir All RIGHTS RESERVED.</p>

  </div>
</footer>