<div class="s2-container">
    <section class="product-section">
        <div class="product-line"></div>
        <h2 class="product-text ">PRODUCT</h2>
        <div class="product-line"></div>
    </section>
    <div class="s2-center">
        <div class="s2-carousel swiper">
            <div class=" s2-track swiper-wrapper" id="track">
                <div class="s2-slide swiper-slide" data-index="0">
                    <img class="s2-slide__top" src="../assets/images/index/Sticky.png" alt="Top 1">
                    <img class="s2-slide__page" src="../assets/images/index/Vector.png" alt="Page 1">
                    <img class="s2-img" src="../assets/images/index/Vector 5.png" alt="">
                    <section class="s2-text">
                        <h2>抹茶雲端 <br class="mobile-break2">Matcha Cloud</h2>
                        <p>日本宇治抹茶融入戚風蛋糕，質地蓬鬆如雲，茶香濃郁卻不苦澀。夾層使用紅豆奶霜與白玉小球，增添日式甜點的圓潤口感。頂部撒上少許抹茶粉與花瓣裝飾，是靜謐午後的一段綠色冥想。</p>
                        <div class="s2-more nsstb-text-m">
                            <a href="#">
                                <span class="">了解更多</span>
                                <i class="bi bi-arrow-right"></i>
                            </a> 
                        </div>
                    </section>
                </div>
                <div class="s2-slide swiper-slide" data-index="1">
                    <img class="s2-slide__top" src="../assets/images/index/Sticky-1.png" alt="Top 2">
                    <img class="s2-slide__page" src="../assets/images/index/Vector-1.png" alt="Page 2">
                    <img class="s2-img" src="../assets/images/index/Vector 5.png" alt="">
                    <section class="s2-text">
                        <h2>深夜可可 <br class="mobile-break2">Midnight Cocoa</h2>
                        <p>嚴選72%比利時頂級黑巧克力與無鹽奶油完美融合，打造外層濃郁紮實的巧克力蛋糕，內藏香滑流心，入口即化，帶來濃厚且微苦的成熟巧克力風味。</p>
                        <div class="s2-more nsstb-text-m">
                        <a href="#">
                            <span class="">了解更多</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    </section>
                    
                </div>
                <div class="s2-slide swiper-slide" data-index="2">
                    <img class="s2-slide__top" src="../assets/images/index/Sticky-2.png" alt="Top 3">
                    <img class="s2-slide__page" src="../assets/images/index/Vector-2.png" alt="Page 3">
                    <img class="s2-img" src="../assets/images/index/Vector 5.png" alt="">
                    <section class="s2-text">
                        <h2>金蘋派 <br class="mobile-break2">Golden Pie </h2>
                        <p>嚴選當季新鮮蘋果，經過慢火細心熬煮，保留自然果香與甜度。酥脆的派皮層層堆疊，每一口都帶來濃郁的蘋果果肉與微微肉桂香，完美平衡甜而不膩的滋味。</p>
                        <div class="s2-more nsstb-text-m">
                        <a href="#">
                            <span class="">了解更多</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    </section>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
        <button class="s2-prev" id="prev" aria-label="上一頁"><img src="../assets/images/icons/arrow-L.png"
                alt="上一頁"></button>
        <button class="s2-next" id="next" aria-label="下一頁"><img src="../assets/images/icons/arrow-R.png"
                alt="上一頁"></button>
    </div>
</div>