<div class="s1-container">
    <div class="s1-center">
        <div class="s1-left">
            <div class="s1-1  text-gray-1000">
                <h2 class="f-type mt-80 ">
                    <p class="highlighting">每一份甜點，</p>
                    <p>都值得被細細紀錄。</p>
                </h2>
                <h2 class="f-type mt-32px">
                    <p class="highlighting">每一口幸福，</p>
                    <p>都可以寫進屬於自己的<br class="mobile-break">甜點誌。</p>
                </h2>
            </div>
            <div class="img-group">
                <img class="img s1-img-1 ml-48 mt-76" src="../assets/images/index/Group 4.png" alt="shop">
                <img class="img s1-img-2 ml-200 mt-98" src="../assets/images/index/Group 10.png" alt="shop">
                <img class="img s1-img-3 ml-110 mt-120 imgline" src="../assets/images/index/Vector 5.png" alt="shop">
            </div>
        </div>
        <div class="s1-2 ml-32">
            <a href="#"><img class="imgshop" src="../assets/images/index/shop-removebg-preview.png" alt="shop"></a>
        </div>
    </div>
</div>