<section class="section-store bg-gray-100 pb-120px md-pb-60px">
    <img src="../assets/images/index/Vector-section-3.png" alt="">

    <div class="container">
        <div class="row">
            <!-- <div class="mx-auto w-100">
                <div class="heading d-flex justify-content-between align-items-center mb-80px md-mb-40px">
                    <div class="section-header-line"></div>
                    <h3 class="heading-text text-primary-800 nsftb-h2">OUR STORE</h3>
                    <div class="section-header-line"></div>
                </div>
            </div> -->
            <div class="container s5-container px-12px mx-auto py-120px d-none d-md-block">
                <section class="section-header mb-40px">
                    <div class="section-line"></div>
                    <h2 class="heading-text text-primary-800 nsftb-h2">OUR STORE</h2>
                    <div class="section-line"></div>
                </section>
            </div>
            <div class="container px-12px py-60px d-md-none d-block">
                <section class="section-header w-100">
                    <div class="section-line"></div>
                    <h2 class="heading-text text-primary-800 nsftb-h2">OUR STORE</h2>
                    <div class="section-line"></div>
                </section>
            </div>
        </div>
        <div class="row gx-4">
            <div class="col-6 col-lg-4">
                <div class="card bg-gray-100 border-0 rotate">
                    <img src="../assets/images/index/item-img.png" alt="image">
                    <div class="card-body text-center">
                        <a href="#"
                            class="card-title card-link text-decoration-none text-gray-1000 nsftb-h6 mb-0 stretched-link">Fluffy
                            Note Bakery</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="card bg-gray-100 border-0 pt-60px md-pt-0px rotate">
                    <img src="../assets/images/index/item-img-1.png" alt="image">
                    <div class="card-body text-center">
                        <a href="#"
                            class="card-title card-link text-decoration-none text-gray-1000 nsftb-h6 mb-0 stretched-link">Little
                            Mellow Tar</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="card bg-gray-100 border-0 rotate">
                    <img src="../assets/images/index/item-img-2.png" alt="image">
                    <div class="card-body text-center">
                        <a href="#"
                            class="card-title card-link text-decoration-none text-gray-1000 nsftb-h6 mb-0 stretched-link">Moonlight
                            Cheesecake</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="card bg-gray-100 border-0 rotate">
                    <img src="../assets/images/index/item-img-3.png" alt="">
                    <div class="card-body text-center">
                        <a href="#"
                            class="card-title card-link text-decoration-none text-gray-1000 nsftb-h6 mb-0 stretched-link">Daily
                            Crumble Pie</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="card bg-gray-100 border-0 pt-60px md-pt-0px rotate">
                    <img src="../assets/images/index/item-img-4.png" alt="">
                    <div class="card-body text-center">
                        <a href="#"
                            class="card-title card-link text-decoration-none text-gray-1000 nsftb-h6 mb-0 stretched-link">Mild
                            Sugar Studio</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="card bg-gray-100 border-0 rotate">
                    <img src="../assets/images/index/item-img-5.png" alt="image">
                    <div class="card-body text-center">
                        <a href="#"
                            class="card-title card-link text-decoration-none text-gray-1000 nsftb-h6 mb-0 stretched-link">Secret
                            Recipe Diary</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>