<section class="py-3 bg-primary-100" style="border-top: 5px solid #B79E8B; border-bottom: 5px solid #B79E8B;">
    <div class="row g-0">
        <div class="col-lg-4">
            <div class="card border-top-0 border-bottom-0 rounded-0 pt-100px md-pt-40px opacity" style="height: 640px; background-image: url(../assets/images/index/Cate-item.png); background-repeat: no-repeat; background-position: center; background-size: cover;">
                <div class="card-body text-center">
                    <h2><a href="#" class="text-decoration-none text-primary-1000 mb-2 nsftb-h2 nsftb-lg-h1 stretched-link">蛋糕</a></h2>
                    <h3 class="text-primary-600 nsstr-h5 nsstr-lg-h2">Cake</h3>
                </div>
            </div>
        </div>
         <div class="col-lg-4">
            <div class="position-relative rounded-0 pt-100px md-pt-40px opacity border-y-dashed" style="height: 640px; background-image: url(../assets/images/index/Cate-item-1.png); background-repeat: no-repeat; background-position: center; background-size: cover; border-left: 2px dashed #B79E8B; border-right: 2px dashed #B79E8B;">
                <div class="card-body text-center">
                    <h2><a href="#" class="text-decoration-none text-primary-1000 mb-2 nsftb-h2 nsftb-lg-h1 stretched-link">餅乾</a></h2>
                    <h3 class="text-primary-600 nsstr-h5 nsstr-lg-h2">Cookies</h3>
                </div>
            </div>
        </div>
         <div class="col-lg-4">
            <div class="card border-top-0 border-bottom-0 rounded-0 pt-100px md-pt-40px opacity" style="height: 640px; background-image: url(../assets/images/index/Cate-item-2.png); background-repeat: no-repeat; background-position: center; background-size: cover;">
                <div class="card-body text-center">
                    <h2><a href="#" class="text-decoration-none text-primary-1000 mb-2 nsftb-h2 nsftb-lg-h1 stretched-link">期間限定</a></h2>
                    <h3 class="text-primary-600 nsstr-h5 nsstr-lg-h2">Festival Limited</h3>
                </div>
            </div>
        </div>
    </div>
</section>