<div class="s5-bg">
    <!-- 桌面版 -->
    <div class="container s5-container px-12px mx-auto py-120px d-none d-md-block">

        <section class="section-header mb-40px">
            <div class="section-header-line"></div>
            <h2 class="feedback-text nsftb-h1">FEEDBACK</h2>
            <div class="section-header-line"></div>
        </section>

        <section class="s5-content mb-80px ">
            <div class="d-flex mb-42px">
                <img src="../assets/images/index/Rectangle 9.png" alt="feeback-1"
                    class="s5-content-item-img rounded-circle me-32px">
                <div class="s5-content-item-text px-32px py-20px w-100 card-with-triangle-l">
                    <div class="d-flex justify-content-between">
                        <h3 class="mb-8 nsftb-h5 text-gray-600">Emily Wang</h3>
                        <span class="text-primary-600 rate">
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake"></i>
                        </span>
                    </div>

                    <p class="nsstr-h5 text-gray-1000">甜而不膩，入口即化，完全是我的心頭好！</p>
                </div>
            </div>

            <div class="d-flex flex-row-reverse mb-42px">
                <img src="../assets/images/index/Rectangle 10.png" alt="feeback-1"
                    class="s5-content-item-img rounded-circle ">
                <div class="s5-content-item-text px-32px py-20px w-100 card-with-triangle-r me-32px">
                    <div class="d-flex justify-content-between">
                        <h3 class="mb-8 nsftb-h5 text-gray-600">Sophia Li</h3>
                        <span class="text-primary-600 rate">
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake"></i>
                        </span>
                    </div>

                    <p class="nsstr-h5 text-gray-1000">包裝很用心，送禮自用都好看，朋友也超愛！</p>
                </div>
            </div>

            <div class="d-flex mb-42px">
                <img src="../assets/images/index/Rectangle 11.png" alt="feeback-1"
                    class="s5-content-item-img rounded-circle me-32px">
                <div class="s5-content-item-text px-32px py-20px w-100 card-with-triangle-l">
                    <div class="d-flex justify-content-between">
                        <h3 class="mb-8 nsftb-h5 text-gray-600">Olivia Zhang</h3>
                        <span class="text-primary-600 rate">
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake"></i>
                        </span>
                    </div>

                    <p class="nsstr-h5 text-gray-1000">口感紮實但不乾，香味很療癒，下次還會回購！</p>
                </div>
            </div>

            <div class="d-flex flex-row-reverse">
                <img src="../assets/images/index/Rectangle 12.png" alt="feeback-1"
                    class="s5-content-item-img rounded-circle ">
                <div class="s5-content-item-text px-32px py-20px w-100 card-with-triangle-r me-32px">
                    <div class="d-flex justify-content-between">
                        <h3 class="mb-8 nsftb-h5 text-gray-600">Grace Chen</h3>
                        <span class="text-primary-600 rate">
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake-fill me-4px"></i>
                            <i class="bi bi-cake"></i>
                        </span>
                    </div>

                    <p class="nsstr-h5 text-gray-1000">剛好搭配下午茶，不會太甜但很滿足！</p>
                </div>
            </div>
        </section>

        <section class="s5-btn text-end nsstb-text-l">
            <a href="#" class="opacity">
                <span class="px-12px py-8px">立即逛人氣商品</span>
                <i class="bi bi-arrow-right"></i>
            </a>
        </section>

    </div>

    <!-- 行動版 -->
    <div class="container px-12px py-60px d-md-none d-block">
        <section class="section-header w-100">
            <div class="section-header-line"></div>
            <h2 class="feedback-text nsftb-h2">FEEDBACK</h2>
            <div class="section-header-line"></div>
        </section>

        <div class="swiper mb-40px">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides 輪播內容放這-->
                <div class="swiper-slide">
                    <img src="../assets/images/index/Rectangle 9.png" alt="feeback-1"
                        class="s5-content-item-img rounded-circle mx-auto mb-24px">
                    <div class="s5-content-item-text px-32px py-20px w-100 sm-card-with-triangle">
                        <div class="d-flex justify-content-between mb-12px">
                            <h3 class="mb-8 nsftb-h6 text-gray-600">Emily Wang</h3>
                            <span class="text-primary-600 sm-rate">
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake"></i>
                            </span>
                        </div>
                        <p class="nsstr-h6 text-gray-1000">甜而不膩，入口即化，完全是我的心頭好！</p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img src="../assets/images/index/Rectangle 10.png" alt="feeback-1"
                        class="s5-content-item-img rounded-circle mx-auto mb-24px">
                    <div class="s5-content-item-text px-32px py-20px w-100 sm-card-with-triangle">
                        <div class="d-flex justify-content-between mb-12px">
                            <h3 class="mb-8 nsftb-h6 text-gray-600">Sophia Li</h3>
                            <span class="text-primary-600 sm-rate">
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake"></i>
                            </span>
                        </div>
                        <p class="nsstr-h6 text-gray-1000">包裝很用心，送禮自用都好看，朋友也超愛！</p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img src="../assets/images/index/Rectangle 11.png" alt="feeback-1"
                        class="s5-content-item-img rounded-circle mx-auto mb-24px">
                    <div class="s5-content-item-text px-32px py-20px w-100 sm-card-with-triangle">
                        <div class="d-flex justify-content-between mb-12px">
                            <h3 class="mb-8 nsftb-h6 text-gray-600">Olivia Zhang</h3>
                            <span class="text-primary-600 sm-rate">
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake"></i>
                            </span>
                        </div>
                        <p class="nsstr-h6 text-gray-1000">口感紮實但不乾，香味很療癒，下次還會回購！</p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <img src="../assets/images/index/Rectangle 12.png" alt="feeback-1"
                        class="s5-content-item-img rounded-circle mx-auto mb-24px">
                    <div class="s5-content-item-text px-32px py-20px w-100 sm-card-with-triangle">
                        <div class="d-flex justify-content-between mb-12px">
                            <h3 class="mb-8 nsftb-h6 text-gray-600">Grace Chen</h3>
                            <span class="text-primary-600 sm-rate">
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake-fill me-4px"></i>
                                <i class="bi bi-cake"></i>
                            </span>
                        </div>
                        <p class="nsstr-h6 text-gray-1000">剛好搭配下午茶，不會太甜但很滿足！</p>
                    </div>
                </div>
                
            </div>

            <!-- If we need pagination 分頁點-->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons 左右按鈕 -->
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->

            <!-- If we need scrollbar 進度條-->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>

        <section class="s5-btn text-end nsstb-text-m">
            <a href="#" class="opacity">
                <span class="px-8px py-4px">立即逛人氣商品</span>
                <i class="bi bi-arrow-right"></i>
            </a>
        </section>
    </div>
</div>