<!-- 桌面版 -->
<div class="container-fulid top-swiper d-none d-lg-block top-swiper-desktop">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides 輪播內容放這-->
        <div class="swiper-slide top-swiper-item position-relative">
            <img src="../assets/images/index/Banner-scroll.png" alt="Banner-scroll-1" class="position-absolute z-n1 w-100 h-100">
            <div class="top-swiper-content-l z-0 position-absolute ">
                <h1 class="nsftb-h1 text-gray-white mb-28px">
                    <p class="mb-4px">本月新品</p>
                    <p>搶先看！</p>
                </h1>
                <h2 class="nsstr-h3  text-gray-white mb-60px">獨家上市，會員享首發價，數量有限先到先得</h2>
                <a href="#" class="top-swiper-item-btn py-12px px-40px text-gray-white rounded-pill">前往選購</a>
            </div>
        </div>
        <div class="swiper-slide top-swiper-item position-relative">
            <img src="../assets/images/index/Banner-scroll-1.png" alt="Banner-scroll-2"
                class="position-absolute z-n1  w-100 h-100">
            <div class="top-swiper-content-r z-0 position-absolute">
                <h1 class="nsftb-h1 text-gray-white mb-28px">
                    <p class="mb-4px">夏日限定</p>
                    <p>清涼搶購中！</p>
                </h1>
                <h2 class="nsstr-h3  text-gray-white mb-60px">人氣必買，全館最高折$500，限時開搶別錯過！</h2>
                <a href="#" class="top-swiper-item-btn py-12px px-40px text-gray-white rounded-pill">立即逛活動</a>
            </div>
        </div>
        <div class="swiper-slide top-swiper-item position-relative">
            <img src="../assets/images/index/Banner-scroll-2.png" alt="Banner-scroll-3"
                class="position-absolute z-n1  w-100 h-100">
            <div class="top-swiper-content-l z-0 position-absolute">
                <h1 class="nsftb-h1 text-gray-white mb-28px">
                    <p class="mb-4px">立刻加入會員</p>
                    <p>獨享首購禮！</p>
                </h1>
                <h2 class="nsstr-h3  text-gray-white mb-60px">註冊即贈$100購物金，會員專屬優惠不錯過</h2>
                <a href="#" class="top-swiper-item-btn py-12px px-40px text-gray-white rounded-pill">免費加入會員</a>
            </div>
        </div>
    </div>
    <!-- If we need pagination 分頁點-->
    <div class="swiper-pagination mb-108px"></div>

    <!-- If we need navigation buttons 左右按鈕 -->
    <div class="swiper-button-prev rounded-circle md-swiper-button-prev ms-44px">
        <img src="../assets/images/icons/top-Icon-left.png" alt="上一張" class="invert-arrow" />
        <!-- <i class="bi bi-arrow-left"></i> -->
    </div>
    <div class="swiper-button-next rounded-circle md-swiper-button-next me-44px">
        <img src="../assets/images/icons/top-icon-right.png" alt="下一張" class="invert-arrow"/>
        <!-- <i class="bi bi-arrow-right "></i> -->
    </div>

    <!-- If we need scrollbar 進度條-->
    <!-- <div class="swiper-scrollbar"></div> -->
    <!-- <div class="">
        <img src="../assets/images/index/Vector-top-swiper.png" alt="xx">
    </div> -->
</div>

<!-- 行動版 -->
<!-- <div class="py-32px d-lg-none d-block"></div> -->
<div class="container-fulid top-swiper d-lg-none d-block top-swiper-md">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides 輪播內容放這-->

        <div class="swiper-slide top-swiper-item-sm position-relative">
            <img src="../assets/images/index/Banner.png" alt="Banner-scroll-1" class="position-absolute z-n1 w-100 h-100">
            <div class="sm-top-swiper-content z-0 position-absolute text-center w-100">
                <div class="d-flex justify-content-center flex-column mb-20px">
                    <h1 class="nsftb-h2 text-gray-white mb-12px">
                        <p class="mb-4px">本月新品搶先看！</p>
                    </h1>
                    <h2 class="nsstr-h5 text-gray-white px-12px">獨家上市，會員享首發價，數量有限先到先得</h2>
                </div>
                <div class="pt-20px">
                    <a href="#" class="top-swiper-item-btn py-12px px-40px text-gray-white rounded-pill ">前往選購</a>
                </div>
            </div>
        </div>

        <div class="swiper-slide top-swiper-item-sm position-relative">
            <img src="../assets/images/index/Banner-scroll-M.png" alt="Banner-scroll-1" class="position-absolute z-n1 w-100 h-100">
            <div class="sm-top-swiper-content z-0 position-absolute text-center w-100">
                <div class="d-flex justify-content-center flex-column mb-20px">
                    <h1 class="nsftb-h2 text-gray-white mb-12px">
                        <p class="mb-4px">夏季限定</p>
                        <p>清涼搶購中！</p>
                    </h1>
                    <h2 class="nsstr-h5  text-gray-white ">人氣必買，全館最高折$500，限時開搶別錯過！</h2>
                </div>
                <div class="pt-20px">
                    <a href="#" class="top-swiper-item-btn py-12px px-40px text-gray-white rounded-pill ">立即逛活動</a>
                </div>
            </div>
        </div>

        <div class="swiper-slide top-swiper-item-sm position-relative">
            <img src="../assets/images/index/Banner-scroll-M-1.png" alt="Banner-scroll-1" class="position-absolute z-n1 w-100 h-100">
            <div class="sm-top-swiper-content z-0 position-absolute text-center w-100">
                <div class="d-flex justify-content-center flex-column mb-20px">
                    <h1 class="nsftb-h2 text-gray-white mb-12px">
                        <p class="mb-4px">立刻加入會員</p>
                        <p>獨享首購禮！</p>
                    </h1>
                    <h2 class="nsstr-h5  text-gray-white ">註冊即贈$100購物金，會員專屬優惠不錯過</h2>
                </div>
                <div class="pt-20px">
                    <a href="#" class="top-swiper-item-btn py-12px px-40px text-gray-white rounded-pill ">免費加入會員</a>
                </div>
            </div>
        </div>

    </div>
    <!-- If we need pagination 分頁點-->
    <div class="swiper-pagination" style="bottom:44px"></div>

    <!-- If we need scrollbar 進度條-->
    <!-- <div class="swiper-scrollbar"></div> -->
</div>