<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>

<body>
  <%- include('./layout/header'); -%>
 
<main class="p-dessert pt-160px pb-80px sm-pt-120px sm-pb-60px">
  <div class="container">
    <ul class="c-breadcrumb">
      <li class="c-breadcrumb__item"><a href="/">首頁</a></li>
      <li class="c-breadcrumb__item">商品列表</li>
    </ul>


     <div class="p-dessert__search-container my-40px">
      <input 
        type="text" 
        class="p-dessert__search-input" 
        placeholder="搜尋甜點..."
      >
      <button class="p-dessert__search-button">搜尋</button>
    </div>

    <div class="p-dessert__filter-buttons mb-52px">
      <button class="p-dessert__filter-btn active" data-category="all"><span><img src="/assets/images/desserts/icon/dessert-category.svg" alt="全部甜點"></span><span>全部甜點</span></button>
      <button class="p-dessert__filter-btn" data-category="limited"><span><img src="/assets/images/desserts/icon/dessert-category_01.svg" alt="期間限定"></span><span>期間限定</span></button>
      <button class="p-dessert__filter-btn" data-category="cake"><span><img src="/assets/images/desserts/icon/dessert-category_02.svg" alt="蛋糕"></span><span>蛋糕</span></button>
      <button class="p-dessert__filter-btn" data-category="cookie"><span><img src="/assets/images/desserts/icon/dessert-category_03.svg" alt="餅乾"></span><span>餅乾</span></button>
      <button class="p-dessert__filter-btn" data-category="pie"><span><img src="/assets/images/desserts/icon/dessert-category_04.svg" alt="派"></span><span>派</span></button>

    </div>

    <div class="p-dessert-dropdown-sp">
      <div class="p-dessert__dropdown-container" id="dropdown-container">
        <div class="p-dessert__dropdown-header" id="dropdownHeader">
          <span id="selectedText">全部甜點</span>
          <span class="p-dessert__arrow" id="arrow"></span>
        </div>
        <div class="p-dessert__dropdown-list" id="dropdownMenu">
          <div class="p-dessert__dropdown-option selected" id="dropdown-option" data-value="all">全部甜點</div>
          <div class="p-dessert__dropdown-option" id="dropdown-option" data-value="limited">期間限定</div>
          <div class="p-dessert__dropdown-option" id="dropdown-option" data-value="cake">蛋糕</div>
          <div class="p-dessert__dropdown-option" id="dropdown-option" data-value="cookie">餅乾</div>
          <div class="p-dessert__dropdown-option" id="dropdown-option" data-value="pie">派</div>
        </div>
      </div>
    </div>

    <div class="p-dessert-cards">
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_01.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">抹茶雲端Matcha Cloud Cake</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">560</span>
            </div>
          </div>
          
        </a>
         <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_02.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">深夜可可Midnight Cocoa</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">450</span>
            </div>
          </div>
          
        </a>
         <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_03.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">夏日檸光Lemon Light</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">480</span>
            </div>
          </div>
          
        </a>
         <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_04.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">伯爵奶香Earl Grey Cream</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">460</span>
            </div>
          </div>
          
        </a>
         <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_05.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">香草晨霧Vanilla Morning Mist</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">650</span>
            </div>
          </div>
          
        </a>
         <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_06.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">覆盆莓月夜Berry Moonlight</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">570</span>
            </div>
          </div>
          
        </a>
         <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_07.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">太妃糖布朗尼Toffee Brownie Bite</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">560</span>
            </div>
          </div>
          
        </a>
         <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_08.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">海鹽焦糖乳酪Sea Salt Caramel Cheesecake</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">570</span>
            </div>
          </div>
          
        </a>
         <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_09.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">蜂蜜柚香Honey Yuzu Bloom</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">520</span>
            </div>
          </div>
          
        </a>
        <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_10.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">玫瑰白巧Rose White Chocolate</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">600</span>
            </div>
          </div>
          
        </a>
        <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_11.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">椰香星河Coconut Galaxy</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">540</span>
            </div>
          </div>
          
        </a>
        <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_12.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">芒果曙光Mango Sunrise</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">490</span>
            </div>
          </div>
          
        </a>
        <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_13.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">榛果金秋Hazelnut Autumn Delight</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">570</span>
            </div>
          </div>
          
        </a>
        <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_14.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">藍莓仲夏Blueberry Midsummer</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">530</span>
            </div>
          </div>
          
        </a>
        <button class="p-dessert__add-btn" data-cart=""><span><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_15.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">桂花蜜茶Osmanthus Honey Tea Cake</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">500</span>
            </div>
          </div>
          
        </a>
        <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      <div class="p-dessert__card">
        <span class="--tag">新商品</span>
        <a href="" class="p-dessert__card-link">
          <div class="p-dessert__card-pic-box"><img class="p-dessert__card-pic" src="/assets/images/desserts/dessert_16.png" alt=""></div>
          <div class="p-dessert__card-text">
            <span class="p-dessert__card-name">黑芝麻雪峰Black Sesame Snow Peak</span>
            <div class="p-dessert__card-price">
              <span class="--currency">NT$</span>
              <span class="--num">550</span>
            </div>
          </div>
          
        </a>
        <button class="p-dessert__add-btn" data-cart=""><span class="--img"><img src="/assets/images/desserts/icon/cart.svg" alt="加入購物車"></span><span>加入購物車</span></button>  
      </div>
      
     

    </div>


    <div class="p-dessert__page-btn mt-40px">
      <a class="--arrow --left" href="#"><img src="/assets/images/desserts/icon/left-arrow.svg" alt=""></a>
      <a class="--number active" href="#">1</a>
      <a class="--number" href="#">2</a>
      <a class="--number" href="#">3</a>
      <a class="--arrow --right" href="#"><img src="/assets/images/desserts/icon/right-arrow.svg" alt=""></a>
  </div>
  
</main>


  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>

</html>
